h2 { 
  color: black;
  font-size: 200%;
  border:dashed 3px blue;
}
body { 
  background-color: purple;
}
h2 {
  text-shadow: 2px 2px;
}
#jeff,p{
  color: blue;
  font-size: 35px;
}
ul{
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  position: fixed; 
  margain: 0;
  top: 0;
  
}

li a {
  display: block;
  float: left;
  padding: 15px;
  color: green;
  background-color: white;
}
#jeffs {
  text-align: left;
  list-style: inside;
  list-style-type: square;
  
}

table, tr, td , th{
  border: 1px solid black;
  border-collapse: collapse;
  padding:20px;
}
table{
  width: 60%
}

tr:hover { 
 background-color: white;
}

tr:nth-child(even) {background-color: gold;}

tr:nth-child(even):hover {background color: white;}
  position: fixed; 
  margain: 0;
  top: 0;
 
  
}

li a {
  display: block;
  float: left;
  padding: 15px;
  color: green;
  background-color: white;
    
}
img{ 
 border: white dashed 4px;
 border-radius: 200%
}
